.workoutCard {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #fff;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .workoutImage {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .workoutTitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .workoutDescription {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
  }
  
  .readMore {
    color: #007bff;
    text-decoration: none;
  }
  
  .readMore:hover {
    text-decoration: underline;
  }
  